.lang {
  position: relative;

  cursor: default;

  &__hidden {
    position: absolute;

    @include tr(300);

    left: 50%;

    transform: translateX(-50%) translateY(0.375rem);

    @include z-2;

    padding-top: .75rem;

    opacity: 0;

    pointer-events: none;
  }
  &__list {
    border: 1px solid rgba(var(--w-clr), .2);

    border-radius: 0.25rem;

    overflow: hidden;

    background-color: rgba(var(--bg-body), .8);
  }
  &__item {
    a {
      width: 100%;
      padding: 0.625rem 0.5rem;

      text-align: center;

      justify-content: center;

      @include tr(300);

      @include hover {
        &:hover {
          background-color: rgba(var(--w-clr), .2);
        }
      }
      &:active {
        background-color: rgba(var(--w-clr), .1);
      }
    }
  }
  &__selected {
    @include fl(row, center, 0.5rem);
  }
  &:hover {
    .lang__hidden {
      transform: translateX(-50%) translateY(0);

      opacity: 1;

      pointer-events: all;
    }
  }
}
