.search-bar {
  --search-icon-ratio: 2rem;
  --input-radius: 2rem;
  --input-pl: 1.5rem;
  --results-block-spacing-top: 3.8125rem;

  @include m(b, 1rem);

  &__block {
    position: relative;

    background-color: rgba(var(--w-clr), .04);

    padding: 0.25rem 0.25rem 0.25rem var(--input-pl);

    @include fl(row, center, 1rem);

    border-radius: var(--input-radius);

    border: 1px solid rgba(var(--w-clr), .04);

    @include tr(300);

    &--active {
      border-radius: 2.5rem 2.5rem 0 0;

      border-bottom: 1px solid transparent;
    }
  }
  &__results {
    position: absolute !important;

    overflow: hidden;

    top: 100%;
    left: 50%;

    transform: translateX(-50%);

    padding-left: var(--input-pl);

    width: calc(100% + 0.125rem);

    background-color: rgba(var(--w-clr), .04);

    @include z-2;

    border-radius: 0 0 var(--input-radius) var(--input-radius);

    @include tr(300);

    opacity: 0;

    visibility: hidden;

    backdrop-filter: blur(0.25rem);

    &-list {
      max-height: 14rem;

      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--active {
      border: 1px solid rgba(var(--w-clr), .04);

      border-top: 1px solid transparent;

      opacity: 1;

      visibility: visible;
    }

    &-item {
      padding: .75rem 0;

      cursor: pointer;

      @include tr(200);

      @include hover {
        &:hover {
          color: rgba(var(--r-clr), 1);
        }
      }
    }
  }
  &__icon {
    position: absolute;

    top: 50%;
    left: 1rem;

    transform: translateY(-50%);

    display: none;

    svg, img {
      width: var(--search-icon-ratio);
      height: var(--search-icon-ratio);

      fill: rgba(var(--w-clr), .4);

      @include tr(300);
    }
  }
  &__input {
    background-color: transparent;

    width: 100%;
    height: 100%;

    color: rgba(var(--w-clr), 1);

    font-size: var(--text-base);

    &::placeholder {
      color: rgba(var(--w-clr), .4);
    }
    &:focus {
      .search-bar__icon {
        svg {
          fill: rgba(var(--r-clr), 1);
        }
      }
    }
  }
  &__btn {
    @include btn(0.875rem, 1.75rem, var(--pink-gradient));

    span {
      font-size: var(--text-base);
    }
  }
}

@include min-w($mob-mq){
  .search-bar {
    --input-radius: 3rem;
    --input-pl: calc(2rem + var(--search-icon-ratio));
    --results-block-spacing-top: 4.5625rem;

    &__input {
      font-size: var(--text-md);
    }
    &__icon {
      display: block;
    }
    &__btn {
      padding: 1.125rem 2rem;

      span {
        font-size: var(--text-md);
      }
    }
  }
}

.simplebar-track.simplebar-vertical {
  width: 0.625rem !important;
}

.simplebar-track {
  right: .25rem;
}

.simplebar-scrollbar::before {
  opacity: 1 !important;
}

.simplebar-scrollbar:before {
  background: rgba(var(--w-clr), .25) !important;
}
