:root {
  --ff: 'Inter', sans-serif;

  --w-clr: 255, 255, 255;
  --b-clr: 0, 0, 0;
  --bg-body: 9, 16, 64;
  --r-clr: 253, 9, 95;
  --ppl-clr: 108, 44, 140;
  --bl-clr: 3, 103, 253;
  --mag-clr: 196, 20, 113;
  --dark-btn-clr: 7, 11, 42;


  --cont-width: 106.25rem;
  --cont-px: 0.75rem;

  --text-xxs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.5rem;
  --text-6xl: 3rem;

  --main-btn-py: 0.75rem;
  --main-btn-px: 1rem;

  --section-gap: 6.25rem;

  --casinos-grid-cols: 1;
  --casinos-grid-gap: 0.75rem;
  --casinos-item-py: 1.5rem;
  --casinos-item-px: 1rem;

  --header-spacing: 4.875rem;

  --btn-transition: cubic-bezier(0,1,1,1);

  --pink-gradient: linear-gradient(110.7deg, rgba(var(--r-clr), 1) 7.91%, rgba(var(--ppl-clr), 1) 135.95%);
  --rating-gradient: linear-gradient(110.7deg, rgba(var(--bl-clr), 1) 7.91%, rgba(var(--ppl-clr), 1) 135.95%);
  --slider-gradient: radial-gradient(82.54% 82.54% at 50.59% 17.46%, rgba(7, 11, 42, 0) 67.19%, #070B2A 100%),
  linear-gradient(0deg, #070B2A 8.41%, rgba(7, 11, 42, 0) 50%);
  --live-link-item-gradient: linear-gradient(0deg, #070B2A 7.83%, rgba(7, 11, 42, 0) 54.33%), linear-gradient(180deg, #FD035F -16.67%, #6C2C8C 61.75%);
}

$desk-2sm-mq: 97.125rem;
$desk-sm-mq: 90em;
$desk-xs-mq: 85.375em;
$desk-xl-mq: 120em;
$tab-mq: 75em;
$mob-mq: 40em;
$sm-mob-mq: 24.0625em;
$live-shadow-encode: url("data:image/svg+xml,%3Csvg width='955' height='723' viewBox='0 0 955 723' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_105_74)'%3E%3Cpath d='M569.594 542.056C522.58 554.195 457.348 436.684 451.649 336.438C446.093 238.714 490.164 284.844 588.636 225.658C571.749 257.675 775.79 214.019 762.399 250.617C749.008 287.215 660.773 391.396 641.053 424.335C621.333 457.275 616.607 529.917 569.594 542.056Z' fill='%236F00DD'/%3E%3Cpath d='M440.72 354.748C487.28 305.019 447.219 292.524 341.726 186.21C301.831 174.155 239.279 183.717 220.163 232.121C201.047 280.525 276.964 322.672 295.889 372.781C314.814 422.891 394.159 404.476 440.72 354.748Z' fill='%23FF003D'/%3E%3Cpath d='M311.032 391.384C248.828 353.326 294.688 342.215 317.032 251.17C323.184 261.174 336.457 269.263 340.34 221.58C345.193 161.977 381.276 185.063 422.568 181.886C463.86 178.71 496.155 183.52 515.363 236.736C534.572 289.952 512.579 288.27 477.889 328.367C443.2 368.464 458.986 374.92 411.544 410.114C364.102 445.309 373.237 429.441 311.032 391.384Z' fill='%23ED00D5'/%3E%3C/g%3E%3Cg style='mix-blend-mode:color-dodge' filter='url(%23filter1_f_105_74)'%3E%3Cpath d='M561.873 473.736C515.357 487.191 462.705 402.988 466.067 326.736C469.345 252.403 507.861 283.823 608.279 229.791C589.123 255.801 790.208 204.318 774.026 233.525C757.844 262.732 663.338 350.31 641.362 377.276C619.386 404.242 608.39 460.281 561.873 473.736Z' fill='%236F00DD'/%3E%3Cpath d='M404.035 368.603C450.595 318.874 410.535 306.379 305.041 200.065C265.147 188.01 202.594 197.572 183.478 245.976C164.363 294.38 240.279 336.527 259.204 386.636C278.129 436.746 357.475 418.331 404.035 368.603Z' fill='%23FF003D'/%3E%3Cpath d='M550.743 453.103C503.776 424.374 538.404 415.983 555.281 347.246C559.925 354.799 569.947 360.905 572.882 324.906C576.549 279.907 603.794 297.335 634.973 294.934C666.152 292.534 690.537 296.164 705.038 336.339C719.539 376.514 702.933 375.245 676.737 405.518C650.541 435.792 662.461 440.665 626.636 467.238C590.812 493.811 597.71 481.831 550.743 453.103Z' fill='%23ED00D5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_105_74' x='37.1021' y='0.0583496' width='905.929' height='722.865' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='90' result='effect1_foregroundBlur_105_74'/%3E%3C/filter%3E%3Cfilter id='filter1_f_105_74' x='0.417603' y='15.3455' width='954.536' height='646.686' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='90' result='effect1_foregroundBlur_105_74'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
$slider-shadow-encode: url("data:image/svg+xml,%3Csvg width='1320' height='913' viewBox='0 0 1320 913' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_105_65)'%3E%3Cpath d='M634.644 180.973C714.261 177.539 769.598 350.686 737.511 484.964C706.232 615.864 655.196 542.93 474.582 594.83C514.53 556.973 172.695 559.925 208.97 515.062C245.246 470.2 428.072 355.964 472.895 317.648C517.718 279.331 555.028 184.408 634.644 180.973Z' fill='%236F00DD'/%3E%3Cpath d='M762.375 463.657C668.053 516.99 726.524 544.305 850.373 713.45C908.76 740.139 1011.99 744.295 1062.2 685.337C1112.41 626.379 1009.18 550.158 999.699 478.714C990.217 407.271 856.697 410.323 762.375 463.657Z' fill='%23FF003D'/%3E%3Cpath d='M983.291 450.01C1066.43 517.129 989.063 519.513 916.231 634.069C910.57 619.167 892.817 604.887 867.087 666.985C834.925 744.608 787.115 704.335 720.259 697.441C653.403 690.546 604.108 675.493 595.451 599.86C586.794 524.227 621.017 532.368 692.542 488.597C764.067 444.827 741.654 432.034 831.412 398.183C921.17 364.333 900.157 382.89 983.291 450.01Z' fill='%23ED00D5'/%3E%3C/g%3E%3Cg style='mix-blend-mode:color-dodge' filter='url(%23filter1_f_105_65)'%3E%3Cpath d='M618.866 273.519C698.234 268.208 747.269 393.866 710.641 493.935C674.936 591.487 626.683 539.524 445.094 584.076C486.179 554.784 145.825 568.896 183.499 534.57C221.173 500.245 407.141 409.681 453.094 379.881C499.047 350.081 539.499 278.83 618.866 273.519Z' fill='%236F00DD'/%3E%3Cpath d='M826.299 455.173C731.977 508.506 790.447 535.822 914.296 704.966C972.683 731.655 1075.91 735.811 1126.12 676.853C1176.33 617.895 1073.1 541.674 1063.62 470.231C1054.14 398.787 920.621 401.84 826.299 455.173Z' fill='%23FF003D'/%3E%3Cpath d='M628.069 303.834C690.843 354.504 632.426 356.305 577.428 442.79C573.154 431.54 559.749 420.76 540.319 467.641C516.032 526.242 479.932 495.84 429.449 490.636C378.966 485.432 341.744 474.07 335.208 416.971C328.673 359.872 354.515 366.018 408.524 332.972C462.533 299.926 445.61 290.269 513.387 264.712C581.164 239.155 565.296 253.164 628.069 303.834Z' fill='%23ED00D5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_105_65' x='26.2697' y='0.923096' width='1229.63' height='911.231' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='90' result='effect1_foregroundBlur_105_65'/%3E%3C/filter%3E%3Cfilter id='filter1_f_105_65' x='0.581177' y='72.2312' width='1319.24' height='831.439' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='90' result='effect1_foregroundBlur_105_65'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
$footer-shadow-encode: url("data:image/svg+xml,%3Csvg width='1868' height='1464' viewBox='0 0 1868 1464' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_105_84)'%3E%3Cpath d='M1106.39 1234.01C974.235 1270.91 813.727 1002.23 815.009 764.531C816.26 532.811 930.359 635.141 1212.9 477.477C1160.73 556.578 1732.74 417.93 1689.46 507.341C1646.18 596.752 1384.31 859.802 1324.14 941.58C1263.97 1023.36 1238.54 1197.11 1106.39 1234.01Z' fill='%236F00DD'/%3E%3Cpath d='M781.653 809.983C918.946 683.665 810.222 660.733 536.405 425.562C428.066 403.648 253.355 437.053 192.226 555.548C131.098 674.043 333.992 761.473 377.834 877.557C421.675 993.64 644.359 936.3 781.653 809.983Z' fill='%23FF003D'/%3E%3Cpath d='M416.572 919.27C250.925 839.243 379.71 804.988 457.026 584.421C472.345 607.195 507.698 624.195 526.553 510.009C550.121 367.276 646.036 416.103 760.833 401.515C875.629 386.927 964.173 392.886 1008.27 516.318C1052.37 639.749 991.799 639.484 888.99 740.851C786.181 842.217 828.765 854.902 691.503 946.766C554.242 1038.63 582.219 999.297 416.572 919.27Z' fill='%23ED00D5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_105_84' x='0.842285' y='215.89' width='1870.96' height='1201.54' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='90' result='effect1_foregroundBlur_105_84'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");

@include min-w($mob-mq) {
  :root {
    --casinos-grid-cols: 2;
    --casinos-grid-gap: 1.25rem;

    --casinos-item-py: 2rem;
    --casinos-item-px: 1.25rem;
  }
}

@include min-w($tab-mq) {
  :root {
    --section-gap: 8.75rem;

    --casinos-item-py: 3rem;
    --casinos-item-px: 2rem;
  }
}

@include min-w($desk-xs-mq) {
  :root {
    --casinos-grid-cols: 3;

    --cont-px: 1.25rem;
  }
}

@include min-w($desk-sm-mq) {
  :root {
    --casinos-grid-cols: 4;
  }
}

@include min-w($desk-2sm-mq) {
  :root {
    --header-spacing: 7.5rem;
  }
}
